<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1> fragmentMain </h1>
	
	<h2> 부분 포함 </h2>
	
	<h3> Insert 방식 </h3>
	<div th:insert="~{template/fragment/footer :: footer1}"></div>
	<div th:insert="template/fragment/footer :: footer2"></div>
	<hr>
	<div th:insert="template/fragment/footer"></div>
	
	<h3> Replace 방식 </h3>
	<div th:replace="~{template/fragment/footer :: footer1}"></div>
	
	<h3> 파라미터 사용 </h3>
	<div th:replace="~{template/fragment/footer :: footer3('홍길동', '20')}"></div>
</body>
</html>